.demo-box {
  padding: 4px;
}
@media screen and (min-width: 40em) {
  .demo-box {
    padding: 8px;
  }
}
@media screen and (min-width: 52em) {
  .demo-box {
    padding: 16px;
  }
}
@media screen and (min-width: 64em) {
  .demo-box {
    padding: 32px;
  }
}
